/* Polices
Logo et titres: Shrikhand
Texte: Roboto

Couleurs :
Primaire (violet) :#9356DC
Secondaire (rose) : #FF79DA
*/


.middle {
  position:absolute;
  background-color: #008766;
  top: 0;
  margin: 0;
  width: 0px;
  height: 600vh;
  border: 2px solid white;
  z-index: 20;
  display: flex;
  float: left;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

html {
  display: flex;
  justify-content: center;
  scroll-behavior:smooth;
}

.title {
  font-family: 'Shrikhand', cursive;
}

.restaurant-title {
  font-size: 1.7rem;
}

header {
  display: flex;
  width:100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  top: 0px;
  z-index: 5;
  justify-content: center;
}

.header--title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.shadow {
  box-shadow: 0 2px 10px #e2e2e2;
  z-index: 3;
}

.arrow--index {
  display: none;
}

.header--arrow {
  padding: 0 1rem;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
}


.logo, .location {
  display: flex;
  justify-content: center;
}

.location {
  padding: 1rem;
  font-weight: 600;
  z-index: 0;
  padding-top: calc(80px + 1rem);
}

.location i {
  margin-right: 0.5rem;
}

.description {
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.description h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 0rem;
}

.description p {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1rem;
  font-weight: 300;
}

.btn {
  border-radius: 5rem;
  border: none;
  padding: 0.9rem 0.75rem;
  margin: 1rem 0rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  background: linear-gradient(#FF79DA, #9356DC);
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-thin {
  margin: 2.5rem auto;
  width: 50%;

  /* opacity: 1;
  animation-name: fadein;
  animation-delay: 3.8s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards; */
}

hr {
  border: none;
  width: 10%;
  color: #99e2d0;
  background-color: #99e2d0;
  height: 1px;
  float: left;
  margin-top: -10px;
  margin-bottom: 0.75rem;
}


.heart {
  width: max-content;
  position: absolute;
  right: -0.50rem;
  bottom: 1.75rem;
  display: flex;
  align-items: center;
  width: 10%;
  font-size: 1.7rem;
  font-weight: 100;
  padding: 0 1.5rem;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
}

.heart:hover .default { /* Pour réduire l'épaisseur des coeurs, impossible sans FontAwesome Pro */
  display:none;
}

.heart:hover {
  -webkit-text-stroke-width: 0px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  animation: colorfill 0.5s ease-in 0s 1 forwards, pop 0.15s linear 0.5s 2;
}

@keyframes pop{
  50%  {transform: scale(1.4) translateX(9px);}
}

.heart-colored {
  display:none;
}

.heart:hover .heart-colored {
  display:inline;    
}

.fonctionnement {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.fonctionnement h2 {
  width: 100%;
  text-align: left;
}

.item {
  margin: 0.8rem 0.5rem;
  margin-left: 0.5rem;
  width: 100%;
  padding: 1.5rem 0rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px #e2e2e2;
  font-weight: 600;
}

.item i {
  margin-right: 1.1rem;
}

.step {
  height: 25px;
  width: calc(25px - 0.05rem);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: -0.9rem;
  margin-right: 0.9rem;
}

.menu-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  color: #7e7e7e;
}

footer {
  width: 100%;
  padding: 1rem;
}

#restaurants {
  padding: 1rem;
  margin: 0;
}

.card {
  border-radius: 1rem;
  margin: 1rem 0;
  height: 250px;
  position: relative;
  box-shadow: 0px 5px 5px #e2e2e2;
}



nav {
  margin-top: 1rem;
}

nav > * {
  display: block;
  font-size: 0.9rem;
  line-height: 1.75rem;
}

nav a:nth-child(1) i {
  font-size: 0.8rem;
  padding: 0.25rem 0.50rem 0.25rem 0;
}

nav a:nth-child(2) i {
  font-size: 0.6rem;
  padding: 0.25rem 0.4rem 0.25rem 0;
}

.card_img {
  overflow: hidden;
  height: 175px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.card_img img {
  width: 100%;
}

.card_text {
  
  padding: 0 1rem;
  line-height: 1.5rem;
}

.nouveau {
  float: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 0.7rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.1rem;
}

.restaurant_name {
  display: block;
  font-weight: bold;
}

.restaurant_location {
  font-weight: 300;
}

.card_description {
  display: flex;
  height: calc(75px - 0rem);
}

.card_text {
  width: 90%;
  padding: 0.75rem 0.75rem;
}



/* -------------------------------------*/
/* -------- COLORS -------------------- */
/* -------------------------------------*/

/* background-colors */
.step {
  background-color: #9356DC;
}
.card {
  background-color: white;
}
.location {
  background-color: #eaeaea;
}
.nouveau {
  background-color: #99e2d0;
}

.item-default, #restaurants, .description {
  background-color: #f6f6f6;
}

.item-default:hover, .item-light {
  background-color: #f5edff;
}
footer {
  background-color: #353535;
}

/* colors */
a {
  color: black;
}
hr {
  border: 1px solid #99E2D0;
}
.nouveau {
  color: #008766;
}
.step, .btn, footer * {
  color: white;
}
.item-default i {
  color: #7e7e7e;
}
.item-light i {
  color:#9356DC;
}
.location, .description p {
  color: #353535;
}

.restaurant-page {
  padding: 2rem 0;
  max-width: 100%;
  overflow: hidden;
}


.restaurant-img img {
  position: relative;
  top: 48px;
  right: 0px;
  width: 100vw;
  height: 20vh;
  margin-bottom: 30px;
  z-index: 1;

  object-position: 50% 50%;
    object-fit: cover;
  
}

.menu-header {
  position: relative;
  top: -2rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 1.2rem 0.8rem 0 1.2rem;
  z-index: 2;
  background-color: #f6f6f6;
  margin-bottom: -2rem;
}

.restaurant-heart {
  position: absolute;
  top: 30px;
  bottom: 0px;
  right: 10px;
}

@keyframes colorfill {
  0% { background-image: -moz-linear-gradient(top, transparent 25px,#9356DC 0px, #FF79DA 100%); }
  5% { background-image: -moz-linear-gradient(top, transparent 23px,#9356DC 0px, #FF79DA 100%); }
  10% { background-image: -moz-linear-gradient(top, transparent 22px,#9356DC 0px, #FF79DA 100%); }
  15% { background-image: -moz-linear-gradient(top, transparent 21px,#9356DC 0px, #FF79DA 100%); }
  20% { background-image: -moz-linear-gradient(top, transparent 20px,#9356DC 0px, #FF79DA 100%); }
  25% { background-image: -moz-linear-gradient(top, transparent 18px,#9356DC 0px, #FF79DA 100%); }
  30% { background-image: -moz-linear-gradient(top, transparent 17px,#9356DC 0px, #FF79DA 100%); }
  35% { background-image: -moz-linear-gradient(top, transparent 16px,#9356DC 0px, #FF79DA 100%); }
  40% { background-image: -moz-linear-gradient(top, transparent 15px,#9356DC 0px, #FF79DA 100%); }
  45% { background-image: -moz-linear-gradient(top, transparent 13px,#9356DC 0px, #FF79DA 100%); }
  50% { background-image: -moz-linear-gradient(top, transparent 12px,#9356DC 0px, #FF79DA 100%); }
  55% { background-image: -moz-linear-gradient(top, transparent 11px,#9356DC 0px, #FF79DA 100%); }
  60% { background-image: -moz-linear-gradient(top, transparent 10px,#9356DC 0px, #FF79DA 100%); }
  65% { background-image: -moz-linear-gradient(top, transparent 8px,#9356DC 0px, #FF79DA 100%); }
  70% { background-image: -moz-linear-gradient(top, transparent 7px,#9356DC 0px, #FF79DA 100%); }
  75% { background-image: -moz-linear-gradient(top, transparent 6px,#9356DC 0px, #FF79DA 100%); }
  80% { background-image: -moz-linear-gradient(top, transparent 5px,#9356DC 0px, #FF79DA 100%); }
  85% { background-image: -moz-linear-gradient(top, transparent 4px,#9356DC 0px, #FF79DA 100%); }
  90% { background-image: -moz-linear-gradient(top, transparent 2px,#9356DC 0px, #FF79DA 100%); }
  95% { background-image: -moz-linear-gradient(top, transparent 1px,#9356DC 0px, #FF79DA 100%); }
  100% { background-image: -moz-linear-gradient(top, transparent 0px,#9356DC 0px, #FF79DA 100%); }
}

.menu-text {
  width: calc(100% - 1.2rem);
  padding: 0.6rem 0.6rem 0 0.6rem;

  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards ;
  animation-name: fadein;
}

.menu-text:nth-of-type(1) {
  animation-delay: 0s;
}

  .menu-text:nth-of-type(1) .menu-item:nth-of-type(1) {
    animation-delay: 0s;
  }
  .menu-text:nth-of-type(1) .menu-item:nth-of-type(2) {
    animation-delay: 0.25s;
  }
  .menu-text:nth-of-type(1) .menu-item:nth-of-type(3) {
    animation-delay: 0.5s;
  }
  .menu-text:nth-of-type(1) .menu-item:nth-of-type(4) {
    animation-delay: 0.75s;
  }

.menu-text:nth-of-type(2) {
  animation-delay: 1s;
}
  .menu-text:nth-of-type(2) .menu-item:nth-of-type(1) {
    animation-delay: 1s;
  }
  .menu-text:nth-of-type(2) .menu-item:nth-of-type(2) {
    animation-delay: 1.25s;
  }
  .menu-text:nth-of-type(2) .menu-item:nth-of-type(3) {
    animation-delay: 1.5s;
  }


.menu-text:nth-of-type(3) {
  animation-delay: 2s;
}
  .menu-text:nth-of-type(3) .menu-item:nth-of-type(1) {
    animation-delay: 2s;
  }
  .menu-text:nth-of-type(3) .menu-item:nth-of-type(2) {
    animation-delay: 2.25s;
  }
  .menu-text:nth-of-type(3) .menu-item:nth-of-type(3) {
    animation-delay: 2.5s;
  }

.menu-item {
  background-color: white;
  border-radius: 15px;
  margin: 0.75rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: calc(100%);
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards ;
  animation-name: fadein;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.menu-item:hover {
  cursor:pointer;
}

.menu-item--text {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0.5rem 1rem 1rem;

  flex: 1 1 100%;
  min-width: 0;
  
}

.menu-item:hover .menu-item--text {
  max-width: calc(100% - 60px - 1.5rem);
}

.menu-item-title {
  width: 100%;
  font-weight: bold;
  
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.menu-item-description {
  width: calc(100%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}


.menu-item .menu-item-description {
  animation: ellipsisout 0.8s forwards;
}

@keyframes ellipsisout {
  to {width: calc(100%); }
  from {
    width: calc(100% - 40px);    
  }
}


.menu-item:hover .menu-item-description {
  animation: ellipsisin 0.8s forwards;
}

@keyframes ellipsisin {
  from {width: calc(100%); }
  to {
    width: calc(100% - 40px);    
  }
}

.menu-item-subtitle {
  color: #7e7e7e;
  font-size: 0.9rem;
}

.menu-item-price {
  float: left;
  display: flex;
  width: calc(20%);
  height: 100%;
  align-items: flex-end;
  font-weight: bold;
  position: relative;
  left: -110%;
  color: black;
  font-size: 1rem;
}

.menu-item--check {
  display: flex;
  
  width: calc(70px - 1.5rem);
  padding: 1rem 1rem 1rem 0;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99E2D0;  
  animation: slide-out 0.4s forwards;
  -webkit-animation: slide-out 0.4s forwards;
  font-size: 1.2rem;
}



@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(100%); }
}


.menu-item .menu-item--check {
  animation: slide-out 0.4s forwards;
  -webkit-animation: slide-out 0.4s forwards;
}


.menu-item:hover .menu-item--check .check{
  animation: spin 0.4s linear;
  -webkit-animation: spin 0.4s linear;
}

@keyframes spin{
  100%  {transform: rotate(360deg);}
}

@-webkit-keyframes spin {
  100%  {transform: rotate(360deg);}
}

.menu-item:hover .menu-item--check {
  transform: translateX(100%);
    -webkit-transform: translateX(100%);
  animation: slide-in 0.4s forwards;
  -webkit-animation: slide-in 0.4s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
  







.white-bg {
  background-color: white;
}

.bg-light-grey {
  background-color: #f6f6f6;
}

/* ----- for testing purpose ---- */


.green {
  background-color: greenyellow;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: cyan;
}





@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes disappear {
  from { transform: scale(1); }
  to { transform: scale(0.000001); }
}
@keyframes disappear {
  from { transform: scale(1); }
  to { transform: scale(0.000001); }
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  
}




/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes animatebottom {
  from { bottom:-300px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-300px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}








.page_covering {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #353535;
  z-index: 10;
  opacity: 1;
  animation: fadeout 0.45s linear 3s 1 normal forwards, disappear 0.1s linear 4s 1 normal forwards;
  /*transition: 15s; */
}

.self-made-loader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -40vw);
  margin-left: -33px;
  font-size: 100px;
  transform: scale(1.5);
}

.plate {
  position: absolute;
  margin-top: 70px;
  margin-left: 25px;
  perspective: 800px;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
  transform: rotate3d(1,0,0,-80deg);
  box-shadow: 0px 50px 5px #151515;
  border: 15px solid #323232;
  outline: 5px solid white;
}

.inner_plate {
  position: relative;
  top: 10%;
  left: 5px;
  perspective: 800px;
  width: 110px;
  height: 110px;
  background-color: #5c5c5c;
  border-radius: 50%;
  border: 0px solid black;
  
}


.hamburger-style {
  display: flex;
}

.hamburger-style > * {
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  
}

.fork {
  color: rgb(228, 228, 228);
  -webkit-text-stroke: 1px white;
  width: 40px;
  margin-top: 26px;
  
  font-size: 70px;
  clip-path: inset(0px 100px 0 32px);
  transform: translateY(-5000px);
  animation: dropdown 0.5s linear 1.25s 1 normal forwards, upndown 0.5s linear 2s infinite normal forwards;
  /* border: 1px solid white; */
/*   animation: name duration timing-function delay iteration-count direction fill-mode;
 */
   margin-right: 22px;
   margin-top: 40px;
}

 .knife {
  width:45px;
  font-size: 70px;
  margin-left: -28px;
  margin-top: 26px;
  animation: upndown 0.5s infinite;
  clip-path: inset(0px 12px 0 100px);
  transform: translateY(-5000px);
  animation: dropdown 0.5s linear 1.45s 1 normal forwards, upndown 0.5s linear 2s infinite normal forwards;
  /* border: 1px solid white; */
  margin-left: -6px;
  margin-top: 40px;
}

.burgers > *{
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  transform: translateY(-5000px);
  
  /* border: 1px solid white; */
}

.burgers i:nth-of-type(1) {
  -webkit-text-fill-color: #323232;
  clip-path: inset(72px 0 0px 0);
  animation: dropdown 0.5s linear 0s 1 normal forwards, upndsown 0.5s linear 2.25s infinite normal forwards;
}

.burgers i:nth-of-type(2) {
  clip-path: inset(74px 5px 30px 5px);
  /* background-color: green; */
  background-color: white;
  -webkit-text-fill-color: #353535; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  border-radius: 50%;
  margin-left: -125px;
  animation: dropdown 0.5s linear 0.5s 1 normal forwards, upndsown 0.5s linear 2.25s infinite normal forwards;
}
.burgers i:nth-of-type(3) {
  clip-path: inset(45px 0px 30px 0px);
  color: brown;
  margin-left: -125px;
  animation: dropdown 0.5s linear 0.75s 1 normal forwards, upnsdown 0.5s linear 2.25s infinite normal forwards;
}
.burgers i:nth-of-type(4) {
  clip-path: inset(46px 10px 51px 10px);
  /* background-color: red; */
  background-color: white;
  -webkit-text-fill-color: #323232; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  border-radius: 50%;
  margin-left: -125px;
  animation: dropdown 0.5s linear 0.85s 1 normal forwards, upndsown 0.5s linear 2.25s infinite normal forwards;

}
.burgers i:nth-of-type(5) {
  clip-path: inset(0px 0px 50px 0px);
  margin-left: -125px;
  animation: dropdown 0.5s linear 0.9s 1 normal forwards, upndsown 0.5s linear 2.25s infinite normal forwards;
}



@-webkit-keyframes upndown {
  0% { transform:translateY(0px);}
  50% {transform: translateY(-15px);}
  100% { transform:translateY(0px);}
}
@keyframes upndown {
  0% { transform:translateY(0px);}
  50% {transform: translateY(-35px);}
  100% { transform:translateY(0px);}
}

@-webkit-keyframes dropdown {
  0% {transform: translateY(-5000px);}
  100% {transform: translateY(0);}
}
@keyframes dropdown {
  0% {transform: translateY(-5000px);}
  100% {transform: translateY(0);}
}

.btn, .btn-thin {
  animation: shadows-away 0.2s ease-in 0s 1 normal forwards;
}

.btn:hover, .btn-thin:hover {
  opacity: 1;
  animation: shadows 0.2s ease-in 0s 1 normal forwards;
}

@keyframes shadows {
  to {filter: brightness(110%);
    box-shadow: 0px 5px 5px #7e7e7e;}    
}

@keyframes shadows-away {
  from {
    filter: brightness(110%);
    box-shadow: 0px 5px 5px #7e7e7e;
  }
  to {filter: brightness(100%);
  box-shadow: none;}
  
}

/* .btn:hover, .btn-thin:hover {
  border-radius: 5rem;
  border: none;
  padding: 0.9rem 0.75rem;
  margin: 1rem 0rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  background: linear-gradient(#FF79DA, #9356DC);
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-thin {
  margin: 2.5rem auto;
  width: 50%;

  opacity: 0;
  animation-name: fadein;
  animation-delay: 3.8s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
} */