/* COLORS */
.sidebar {
  float: left;
  margin-left: 64px;
}

/* @function menu_duration($children, $basetime_item) {
    $result: 1;
    @for $_ from 1 through $children {
        $result: ($children - 1) * $basetime_item;
    }
    @return $result;
}

@function menu_delay($nth_menu, $basetime_menu) {
    $result: 1;
    @for $_ from 1 through $nth_menu {
        $result: @menu_duration($children, $basetime_item) + $basetime_menu;
    }
    @return $result;
} */
/* 
.menu-text:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.menu-text:nth-of-type(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
} */
a {
  text-decoration: none;
}

/* Polices
Logo et titres: Shrikhand
Texte: Roboto
*/
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Shrikhand", cursive;
}

/* FONT SIZE */
nav a:nth-child(2) i {
  font-size: 0.6rem;
}

.step,
.nouveau, nav a:nth-child(1) i {
  font-size: 0.8rem;
}

nav > *,
.menu-item-subtitle {
  font-size: 0.9rem;
}

.btn,
.menu-title,
.menu-item-price,
.description p {
  font-size: 1rem;
}

.menu-item-title {
  font-size: 1.1rem;
}

.menu-item--check {
  font-size: 1.2rem;
}

.header--arrow {
  font-size: 1.5rem;
}

.restaurant-title,
.heart {
  font-size: 1.7rem;
}

/* FONT WEIGHT */
.heart {
  font-weight: 100;
}

.menu-title,
.restaurant_location,
.description p {
  font-weight: 300;
}

.step {
  font-weight: 400;
}

.btn {
  font-weight: 500;
}

.location,
.item,
.nouveau {
  font-weight: 600;
}

.restaurant_name,
.menu-item-title,
.menu-item-price {
  font-weight: bold;
}

/* LETTER SPACING */
.btn {
  letter-spacing: 0.01rem;
}

/* TEXT TRANSFORM */
.menu-title {
  text-transform: uppercase;
}

/* LINE HEIGHT */
.card_text {
  line-height: 1.5rem;
}

nav > *,
.menu-item-title {
  line-height: 1.8rem;
}

/* FADE-IN EFFECT */
.menu-text,
.menu-item,
.btn-thin {
  opacity: 0;
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.btn-thin {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

.menu-text:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.menu-text:nth-of-type(1) .menu-item:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.menu-text:nth-of-type(1) .menu-item:nth-of-type(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.menu-text:nth-of-type(1) .menu-item:nth-of-type(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.menu-text:nth-of-type(1) .menu-item:nth-of-type(4) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.menu-text:nth-of-type(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.menu-text:nth-of-type(2) .menu-item:nth-of-type(1) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.menu-text:nth-of-type(2) .menu-item:nth-of-type(2) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.menu-text:nth-of-type(2) .menu-item:nth-of-type(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.menu-text:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.menu-text:nth-of-type(3) .menu-item:nth-of-type(1) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.menu-text:nth-of-type(3) .menu-item:nth-of-type(2) {
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

.menu-text:nth-of-type(3) .menu-item:nth-of-type(3) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.heart-colored:active {
  -webkit-animation: pop 0.3s linear 1;
  animation: pop 0.3s linear 1;
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-item .menu-item-description {
  -webkit-animation: ellipsisout 0.8s forwards;
  animation: ellipsisout 0.8s forwards;
}

@-webkit-keyframes ellipsisout {
  to {
    width: calc(100%);
  }
  from {
    width: calc(100% - 40px);
  }
}

@keyframes ellipsisout {
  to {
    width: calc(100%);
  }
  from {
    width: calc(100% - 40px);
  }
}

.menu-item:hover .menu-item-description {
  -webkit-animation: ellipsisin 0.8s forwards;
  animation: ellipsisin 0.8s forwards;
}

@-webkit-keyframes ellipsisin {
  from {
    width: calc(100%);
  }
  to {
    width: calc(100% - 40px);
  }
}

@keyframes ellipsisin {
  from {
    width: calc(100%);
  }
  to {
    width: calc(100% - 40px);
  }
}

.menu-item--check {
  animation: slide-out 0.4s forwards;
  -webkit-animation: slide-out 0.4s forwards;
}

.menu-item .menu-item--check {
  animation: slide-out 0.4s forwards;
  -webkit-animation: slide-out 0.4s forwards;
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

.menu-item:hover .menu-item--check .check {
  animation: spin 0.4s linear;
  -webkit-animation: spin 0.4s linear;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.menu-item:hover .menu-item--check {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: slide-in 0.4s forwards;
  -webkit-animation: slide-in 0.4s forwards;
}

@keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

/* Display */
header,
.header--arrow,
.logo,
.location,
.description,
.description h2,
.description p,
.btn,
.heart,
.fonctionnement,
.card_description,
.menu-item,
.menu-item--text,
.menu-item-price,
.menu-item--check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* Grow/Shrink/... */
.menu-item--text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

/* Direction */
header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* Wrap/Nowrap */
header,
.menu-item {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.description,
.fonctionnement,
.menu-item--text {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Justify / Align */
.header--arrow {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.logo,
.location,
.description,
.description h2,
.description p,
.btn,
.fonctionnement,
.step,
.menu-item--check {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header--arrow,
.heart,
.fonctionnement,
.step,
.menu-item--check {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-item-price {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* Couleurs :
Primaire (violet) : #9356DC
Secondaire (rose) : #FF79DA
Tertiaire (vert) : #99E2D0
*/
/* -------------------------------------*/
/* -------- COLORS -------------------- */
/* -------------------------------------*/
/* background-colors */
.white-bg,
.card,
.menu-item {
  background-color: white;
}

.bg-light-grey,
.item-default,
#restaurants,
.description,
.menu-header {
  background-color: #f6f6f6;
}

hr {
  background-color: #99E2D0;
}

.nouveau {
  background-color: #99E2D0;
}

.menu-item--check {
  background-color: #99E2D0;
}

.step {
  background-color: #9356DC;
}

.location {
  background-color: #eaeaea;
}

.item-default:hover, .item-light {
  background-color: #f5edff;
}

footer {
  background-color: #353535;
}

/* colors */
a,
.menu-item-price {
  color: black;
}

hr {
  border: 1px solid #99E2D0;
}

hr {
  color: #99E2D0;
}

.nouveau {
  color: #008766;
}

.step,
.btn,
footer *,
.menu-item--check {
  color: white;
}

.item-default i,
.menu-item-subtitle,
.menu-title {
  color: #7e7e7e;
}

.item-light i {
  color: #9356DC;
}

.location, .description p {
  color: #353535;
}

/* ----- for testing purpose ---- */
.green {
  background-color: greenyellow;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: cyan;
}
/*# sourceMappingURL=main.css.map */