// -------------------------------------------- 
// COVER
// --------------------------------------------


  
.middle-grey-bg,
.light-grey-bg,
.dark-grey-bg {
  display: block;
  float: left;
  width: 100vw;
  overflow-x: hidden;
  z-index: 0;
}