// -------------------------------------------- 
// RESTAURANT
// --------------------------------------------

.restaurant-page {
    padding: 2rem 0;
    max-width: 100%;
    overflow: hidden;
  }
  
  .restaurant-img img {
    position: relative;
    top: 48px;
    right: 0px;
    width: 100vw;
    height: 310px;
    z-index: 1;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  
  .restaurant-title {
    width: 100%;
  }


  .menu-header {
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 1rem 0.8rem 0 1.2rem;
    z-index: 2;
    margin-bottom: -0rem;
  }
  
  .menu-header-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  
  .menu-text {
    width: calc(100% - 1.2rem);
    padding: 0.6rem 0.6rem 0 0.6rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .menu-item {  
    border-radius: 15px;
    margin: 0.75rem 0;
    overflow: hidden;
    width: calc(100%);
  }
  
  .menu-item:hover {
    cursor: pointer;
  }
  
  .menu-item--text {
    padding: 1rem 0.5rem 1rem 1rem;
    min-width: 0;
  }
  
  .menu-item:hover .menu-item--text {
    max-width: calc(100% - 60px - 1.5rem);
  }
  
  .menu-item-title {
    width: 100%;
  }
  
  .menu-item-description {
    width: calc(100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .menu-item-price {
    width: calc(20%);
    height: 100%;
    float: left;
    position: relative;
    left: -110%;
  }
  
  .menu-item--check {
    width: calc(70px - 1.5rem);
    padding: 1rem 1rem 1rem 0;
  }

  hr {
    border: none;
    width: 10%;
    height: 1px;
    float: left;
    margin-top: -10px;
    margin-bottom: 0.75rem;
  }